{% extends "landing/base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing/dashboard.css' %}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<div class="dashboard-item">
    <h3>Guides in Besitz</h3>
    <div class="guide-list">
        {% for guide in guides_owned %}
            <p>{{ guide.title }}</p>
        {% empty %}
            <p>Noch keine Guides in Besitz!</p>
        {% endfor %}
    </div>
    <a href="#">Alle Ansehen</a>
</div>

<div class="dashboard-item">
    <h3>Selbst geschriebene Guides</h3>
    <div class="guide-list">
        {% for guide in guides_written %}
            <div class="guide-list-item">
                <p>{{ guide.title }}</p>
                {% if guide.has_thumbnail %}
                    <img src="{{ guide.thumbnail.url }}" alt="Thumbnail">
                {% endif %}
            </div>
        {% empty %}
            <div class="guide-list-item">
                <p>Noch keine Guides veröffentlicht!</p>
            </div>
        {% endfor %}
    </div>
    <a href="#">Alle Ansehen</a>
</div>

<div class="dashboard-item">
    <h3>Einstellungen</h3>
</div>

{% endblock content %}