{% extends "landing/base.html" %}

{% block title %}Anmelden{% endblock %}

{% block content %}

{% if  user.is_authenticated %}
    <p>Sie sind bereits angemeldet!</p>
{% else %}
<form method="post" action="{% url 'landing:login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="Anmelden">
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% endif %}
{% endblock content %}